.Ion__Card__Menu{
    background-color: white;
}

.Ion__Card__Title__Menu {
    color: #e25819 ;
    text-align: center;
    font-weight: bolder;
}

.Ion__Text__Menu{
    color: #00684e;
    font-weight: bolder;
}